{% extends "scorelistlayout.html" %}
{% block content %}
<form name="entryForm" method="POST" target="_self" action="scorelist2.php">
  <div class="menu">対戦結果分析</div>
  <div class="title">
    <!--
    <div class="main">
      <div class="conditionForm">
        <input type="date" name="dateFrom" class="dateForm" value="{{ dateFrom }}">
      </div>
      <div class="conditionForm">
        <input type="date" name="dateTo" class="dateForm" value="{{ dateTo }}">
      </div>
    </div>
    -->
    <div class="main">
      <div class="conditionForm">
        <label for="p1No">なまえ：</label>
        <select class="p1Name" name="p1No" onchange="setClass(this, document.entryForm.p1Class, document.entryForm.p1ScoreWin, document.entryForm.p1Masu)">
            <option value="0">▼ -- 選択 -- ▼</option>
          {% for member in memberlist %}
            <option value="{{ member.memberno }},{{ member.name }}">{{ member.name }}</option>
          {% endfor %}
        </select>
        <select name="p1NameAll" style="display:none;">
            <option value="0">▼ -- 選択 -- ▼</option>
          {% for member in memberlist %}
            <option value="{{ member.memberno }},{{ member.name }}">{{ member.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="conditionForm">
        <input type="submit" name="searchSubmit" class="searchSubmit" value="検索">
      </div>
      <div class="conditionForm">
        <a class="gotoMenu" href="/maintenance">メニューへ</a>
      </div>
    </div>
  </div>
  <div class="main">
    {% if scorelist|length > 0 %}
    <div class="matchReport">
      <table id="matchReport" name="matchReport" class="matchReport">
        <thead>
          <tr>
            <th>{{ membername }} さん<br>{{ dateFrom }} ～ {{ dateTo }}</th>
            <th>すべて</th>
            <th>今月</th>
            <th>先月</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>勝数</td>
            <td>{{ scoreresult.win_count }}</td>
            <td>{{ nowresult.win_count }}</td>
            <td>{{ prevresult.win_count }}</td>
          </tr>
          <tr>
            <td>負数</td>
            <td>{{ scoreresult.lose_count }}</td>
            <td>{{ nowresult.lose_count }}</td>
            <td>{{ prevresult.lose_count }}</td>
          </tr>
          <tr>
            <td>勝率</td>
            <td>{{ scoreresult.win_rate }} %</td>
            <td>{{ nowresult.win_rate }} %</td>
            <td>{{ prevresult.win_rate }} %</td>
          </tr>
          <tr>
            <td>マスワリ数</td>
            <td>{{ scoreresult.runout_count }}</td>
            <td>{{ nowresult.runout_count }}</td>
            <td>{{ prevresult.runout_count }}</td>
          </tr>
          <tr>
            <td>最も勝っている相手</td>
            <td>{{ mostWinnerLoser.allMostWin }}</td>
            <td>{{ mostWinnerLoser.nowMostWin }}</td>
            <td>{{ mostWinnerLoser.prevMostWin }}</td>
          </tr>
          <tr>
            <td>最も負けている相手</td>
            <td>{{ mostWinnerLoser.allMostLose }}</td>
            <td>{{ mostWinnerLoser.nowMostLose }}</td>
            <td>{{ mostWinnerLoser.prevMostLose }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="searchResult">
      <button type="button" name="displayAll" value="" onclick="displayChange('matchresultAll')">全試合結果</button>
      <table id="matchresultAll" name="matchresultAll" style="display:none" class="matchresultAll">
        <thead>
          <tr>
            <th>メンバー</th>
            <th>対戦相手</th>
            <th>試合数</th>
            <th>勝数</th>
            <th>負数</th>
            <th>ラック数</th>
            <th>マスワリ数</th>
            <th>ポイント</th>
          </tr>
        </thead>
      {% for score in scorelist %}
        <tbody>
          <tr>
            <td>{{ score.membername }}</td>
            <td>{{ score.opponentname }}</td>
            <td>{{ score.match_count }}</td>
            <td>{{ score.win_count }}</td>
            <td>{{ score.lose_count }}</td>
            <td>{{ score.rack_count }}</td>
            <td>{{ score.runout_count }}</td>
            <td>{{ score.point }}</td>
          </tr>
        </tbody>
      {% endfor %}
      </table>
    </div>
    {% endif %}
  </div>
</form>
{% endblock %}
