{% extends "scoreregistlayout.html" %}
{% block content %}
<table id="scorelist" class="scorelistTable">
  <thead>
    <tr>
      <th>No</th>
      <th>対戦日</th>
      <th>なまえ1</th>
      <th>クラス1</th>
      <th>スコア1</th>
      <th>マスワリ1</th>
      <th></th>
      <th>なまえ2</th>
      <th>クラス2</th>
      <th>スコア2</th>
      <th>マスワリ2</th>
    </tr>
  </thead>
  {% if memberlist|length > 0 %}
  {% for i in 1..20 %}
  <tbody>
    <tr>
      <td><input type="button" id="row_{{ i }}" value="{{ i }}" onclick="copyScore({{ i }});"></td>
      <td>
        <input class="entryDate" id="entryDate_{{ i }}" type="date" value="{{ entryDate }}" onchange="setEntryDate(this, '{{ i }}');">
      </td>
      <td>
        <select class="pName" id="player1name_{{ i }}" onchange="setClass(this, 'class1_{{ i }}', 'p1Masu_{{ i }}')">
        <option value="0">--</option>
        {% for member in memberlist %}
          <option value="{{ member.memberno }},{{ member.name }},{{ member.class }},{{ member.score }}">{{ member.name }}</option>
        {% endfor %}
        </select>
      </td>
      <td>
        <input class="pClass" id="class1_{{ i }}" type="text" value="" readonly="readonly">
      </td>
      <td>
        <input class="pScore" id="score1_{{ i }}" type="number" value="">
      </td>
      <td>
        <select class="p1Masu" id="p1Masu_{{ i }}">
          <option value="0"><p class="a1masu">◎-0</p></option>
          <option value="1"><p class="a1masu">◎-1</p></option>
          <option value="2"><p class="a1masu">◎-2</p></option>
          <option value="3"><p class="a1masu">◎-3</p></option>
          <option value="4"><p class="a1masu">◎-4</p></option>
          <option value="5"><p class="a1masu">◎-5</p></option>
          <option value="6"><p class="a1masu">◎-6</p></option>
          <option value="7"><p class="a1masu">◎-7</p></option>
        </select>
      </td>
      <td> v.s </td>
      <td>
        <select class="pName" id="player2name_{{ i }}" onchange="setClass(this, 'class2_{{ i }}', 'p2Masu_{{ i }}')">
        <option value="0">--</option>
        {% for member in memberlist %}
          <option value="{{ member.memberno }},{{ member.name }},{{ member.class }},{{ member.score }}">{{ member.name }}</option>
        {% endfor %}
        </select>
      </td>
      <td>
        <input class="pClass" id="class2_{{ i }}" type="text" value="" readonly="readonly">
      </td>
      <td>
        <input class="pScore" id="score2_{{ i }}" type="number" value="" >
      </td>
      <td>
        <select class="p1Masu" id="p2Masu_{{ i }}">
          <option value="0"><p class="masu">◎-0</p></option>
          <option value="1"><p class="masu">◎-1</p></option>
          <option value="2"><p class="masu">◎-2</p></option>
          <option value="3"><p class="masu">◎-3</p></option>
          <option value="4"><p class="masu">◎-4</p></option>
          <option value="5"><p class="masu">◎-5</p></option>
          <option value="6"><p class="masu">◎-6</p></option>
          <option value="7"><p class="masu">◎-7</p></option>
        </select>
      </td>
    </tr>
  </tbody>
  {% endfor %}
  {% endif %}
</table>
<p>
  <input type="button" name="registBtn" value="登録" onclick="registScore();">
</p>
<p>
  <a class="gotoMenu" href="/maintenance">メニューへ</a>
</p>
{% endblock %}
